@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext);
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: #ebeef0;
}

body {
  line-height: 18px;
  font-size: 13px;
  color: #31373d;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #479ccf;
  cursor: pointer;
}

label {
  display: block;
  color: #31373d;
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea {
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  vertical-align: top;
  height: 28px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 4px;
  line-height: 18px;
  background-color: white;
  margin: 0;
  border: 1px solid #d3dbe2;
  display: inline-block;
  color: #222;
  border-radius: 3px;
  margin-bottom: 15px;
}

textarea {
  min-height: 72px;
  line-height: 20px;
}

input[type=checkbox], input[type=radio] {
  height: auto;
  line-height: 1;
  width: auto;
  max-width: none;
  margin: 0 5px 5px 0;
  border: none;
  padding: 0;
  display: inline-block;
  vertical-align: baseline;
}

.inline {
  display: inline !important;
  width: auto !important;
}

select {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  display: inline-block;
  color: #222;
  vertical-align: top;
  height: 28px;
  line-height: 28px;
  padding: 4px 2px 2px 2px;
  border: 1px solid #ccc;
  border-radius: 1px;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #212529;
  font-weight: 400;
  margin: 0;
    line-height: 28px;
}

h1 {
  font-size: 26px;
  line-height: 36px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: 400;
  text-align: left;
  color: #31373d;
  padding: 8px 10px;
  border-bottom: 1px solid #ebeef0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

th {
  font-weight: 400;
  text-align: left;
  color: #31373d;
  padding: 8px 10px;
  border-bottom: 1px solid #ebeef0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  border-bottom: 1px solid #ebeef0;
  padding: 6px 10px;
  background: transparent;
}

section {
  overflow: hidden;
  clear: both;
  padding: 15px 0;
}

hr {
  border: none;
  border-top: 1px #d3dbe2 solid;
  margin: 10px -20px;
  padding: 0;

}

button {
  cursor: pointer;
}




.ssb { margin-bottom: 15px !important; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }




.btn {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 8.5px 15px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 1;
  height: auto;
  white-space: nowrap;
  text-transform: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}
.btn-default, .btn {
  background-color: white;
  color: #479ccf;
  border: 1px solid #d3dbe2;
}
.btn-primary {
  background-color: #479ccf;
  color: white;
  border: 1px solid #479ccf;
}
.btn-disabled {
  background-color: #fafbfc;
  color: #c3cfd8;
  border: 1px solid #d3dbe2;
}



.wrapper {
  padding: 20px;
}

.section h1, .section h2 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
}

.section-summary p {
  color: #798c9c;
}

.note {
  color: #798c9c;
  font-weight: normal;
  text-transform: none;
}

.panel {
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #31373d;
  overflow:hidden;
}

p.note { margin-top: 0; }





.tab_list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f5f6f7;
  overflow: visible;
  border-radius: 3px 3px 0 0;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.tab_list>li {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tab_list>li>a {
  padding: 15px 20px;
  text-decoration: none;
  color: #798c9c;
  border-right: 1px solid #ebeef0;
  border-bottom: 1px solid #ebeef0;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tab_list>li>a.active {
  background-color: white;
  color: #31373d;
  border-bottom-color: white;
  cursor: default;
  text-decoration: none;
}

.tab_list>li:first-child>a {
  border-top-left-radius: 3px;
}




.next-pane__header {
  border-bottom: 1px solid #ebeef0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 57px;
  padding: 0 20px;
}

.next-pane__header h3 {
  color: #31373d;
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2em;
}

.next-card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #31373d;
  padding: 20px;
  overflow: hidden;
}

.next-pane__body {
  position: relative;
  padding: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.next-list, .next-list--divided, .product-photo-grid, .photo-overlay-actions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.next-list--divided>li {
  width: 100%;
  border-bottom: 1px solid #ebeef0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.next-list--divided>li:last-child {
  border-bottom: none;
}

.next-list--divided>li a {
  display: block;
  color: #31373d;
  padding: 10px 20px;
}

.next-list--divided>li a:hover, .next-list--divided>li a.is-selected {
  background-color: #eff9fd;
  text-decoration: none;
}

.next-pane__footer-wrapper {
  background: #d3dbe2;
  text-align: center;
}

.next-pane__footer {
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 62px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.next-pane--form {
  padding: 20px 20px 10px 20px;
}


.section-table .next-card  {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.section-summary {
  padding: 20px 40px 20px 50px;
}

.section-summary h3 {
  color: #31373d;
  line-height: 1.325;
  margin-top: -4px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}

.obj-filter-text {
  border-radius: 3px;
  height: 32px;
  font-size: 13px;
  padding-left: 28px;
  background-image: url(//cdn.shopify.com/s/assets/admin/icon-sprite-c4abce68019f7937b03fc92c163f45ad.png);
  background-repeat: no-repeat;
  background-position: -4px -960px;
  border-color: #d3dbe2;
  margin-bottom: 15px;
}

.image img {
  max-width: 50px;
  margin: 0 auto;
  border-radius: 4px;
  background: #d3dbe2;
}





.loader {
  margin: 50px auto 50px auto;
  text-align: center;
}

.loader .next-spinner {
  display: inline-block;
  -webkit-animation: next-spinner-rotate 600ms linear infinite;
  animation: next-spinner-rotate 600ms linear infinite;
  position: relative;
  line-height: 0;
}

.loader .next-spinner>.next-icon {
  position: static;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: -0.15em;
  display: inline-block;
}

.loader .next-spinner .next-spinner__ring {
  stroke: #479ccf;
  stroke-dasharray: 100%;
  stroke-width: 2px;
  stroke-linecap: round;
  fill: none;
}

@-webkit-keyframes next-spinner-rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
@keyframes next-spinner-rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}





.stat__heading {
  color: #95a7b7;
  font-size: 15px;
  vertical-align: bottom;
}

.stat--green {
  color: #96bf48;
}

.stat__number {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.no-padding {
  padding-left:0 !important;
  padding-right:0 !important;
}

.no-padding-bottom {
  padding-bottom:0 !important;
}

.no-padding-top {
  padding-top:0 !important;
}