@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext);

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
.wrapper {
  max-width: 1600px;
}


.no-padding        { padding: 0; }
.no-padding-x      { padding-left: 0; padding-right: 0; }
.no-padding-y      { padding-top: 0;  padding-bottom: 0; }
.no-padding-top    { padding-top: 0; }
.no-padding-bottom { padding-bottom: 0; }
.no-padding-left   { padding-left: 0; }
.no-padding-right  { padding-right: 0; }

.no-margin         { margin: 0; }
.no-margin-x       { margin-left: 0; margin-right: 0; }
.no-margin-y       { margin-top: 0;  margin-bottom: 0; }
.no-margin-top     { margin-top: 0; }
.no-margin-bottom  { margin-bottom: 0; }
.no-margin-left    { margin-left: 0; }
.no-margin-right   { margin-right: 0; }

.block   { display: block; }
.hidden  { display: none !important; }
.ohidden { overflow: hidden !important; }


.easy-disabled {
  position: relative;
}
.easy-disabled:after {
  content: '';
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  cursor: wait !important;
}

.grid {
  display: flex;
}
.grid-item {
  width: 100%;
}
.grid-item + .grid-item {
  padding-left: 2rem;
}

hr.delimiter {
  margin: 2rem -2rem;
  border: 1px solid #d3dbe2;
  border-width: 1px 0 0;
}

.visual-settings-holder {
  display: flex;
  overflow: hidden;
  font-size: 0;
}

.visual-settings-holder > a {
  border: 2px solid transparent;
  border-radius: 3px;
  line-height: 0;
  cursor: pointer;
}
.visual-settings-holder > a + a {
  margin-left: 1.4rem;
}
.visual-settings-holder > a.selected {
  border: 2px solid #479ccf;
}
.visual-settings-holder > a img {
  max-width: 100%;
}

.messager-button-buttons-block {
  float: left;
  width: 100%;
}
.messager-button-buttons-block button {
  vertical-align: top;
}
.messager-button-buttons-block .buttons-block-right {
  float: right;
  text-align: right;
}

.messager-button-checkbox-block {
  float: right;
  margin-top: 10px;
}
.messager-button-checkbox-block label {
  cursor: pointer;
}

.input-chat-icon-border-color-holder {
  padding: 0;
}
#input-chat-icon-border-color {
  padding: 0 1.2rem;
  border: 1px solid #c4cdd5;
  border-radius: 3px;
}

.error-field + .Polaris-TextField__Backdrop {
  border: 2px solid red;
  background-color: #fce7e2;
  border-radius: 3px;
}

.residue-symbols {
  position: absolute;
  z-index: 99;
  bottom: 2px;
  right: 3px;
  color: #c4cdd5;
  font-size: 12px;
  line-height: 11px;
  font-weight: 300;
}

.form-field-error {
  display: none;
  padding-left: 24px;
  margin-top: 2px;
  background: url('../images/error.svg') no-repeat left top;
  color: #b22e34;
  line-height: 22px;
}


.easybot-messenger-button-wrapper {
  position: relative;
}
.easybot-messenger-button {
  width: 64px;
  height: 64px;
  border: 3px solid #0084ff ;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 100%;
}
.easybot-messenger-button img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.easybot-messenger-button .easybot_messenger_icon {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  position: absolute;
  bottom: -3px;
  right: -3px;
  border-radius: 100%;
  box-shadow: 0 0 3px #777;
}

.upload-icon {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.upload-icon input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  line-height: 0;
  font-size: 199px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity:0);
}
