input[type=checkbox],
input[type=radio] {
  float: left;
  margin-top: 2px;
  margin-right: 8px;
}

.float-right {
  overflow: hidden;
  float: right;
}

.radio-row label {
  float: left;
}
.radio-row label + input[type=radio],
.radio-row label + input[type=checkbox] {
  margin-left: 16px;
}
.hidden {
  display: none;
}

.easymobile-disabled {
  position: relative;
}
.easymobile-disabled:after {
  content: '';
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  cursor: wait !important;
}
.section-table {
  padding-bottom: 70px;
}
#catalog-holder .grid-stack > .grid-stack-item {
  /*position: relative;*/
}
.grid-stack > .grid-stack-item > .ui-resizable-se {
  display: none !important;
}
.grid-stack-placeholder {
  display: none !important;
}

.grid-stack-item-content {
  background: #fcfcfc;
  border: 1px solid #f0f0f0;
}
.grid-stack-col.ui-state-hover > .grid-stack-item-content {
  border: 1px solid #479bcf;
}

.grid-stack-item-content > div {
  padding: 7px 5px;
}
.grid-stack-item-content > div.subcollection-wrapper {
  padding: 12px 5px;
}

.catalog-setup.catalog-setup-inner {
  padding: 5px 5px 5px 12px;
}

.next-card h3 {
  clear: both;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

.next-card.next-card--no-padding {
  padding: 20px 0 10px 0;
}
.next-card .next-pane--form {
  padding-top: 0;
}
.next-card .grid--wide {
  overflow: hidden;
}
.next-card hr {
  margin: 20px -20px;
  clear: both;
}

.image-preview {
  display: block;
  max-width: 100px;
}

.image-preview-container {
  position: relative;
  display: inline-block;
  padding-right: 20px;
}

.image-preview-delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  font-size: 20px;
  line-height: 20px;
}

#catalog-holder,
#navigations-holder {
  position: relative;
  margin: 15px 0 0;
}

#catalog-holder i,
.nav-fields i {
  line-height: 30px;
}

.collection-fields input,
.collection-fields select,
.nav-fields input,
.nav-fields select {
  width: 120px;
  margin: 0 4px 0 0;
}

#hidden-data {
  display: none;
}

.subcollections {
  padding: 7px 30px 0;
}
.subcollection-holder .sub {
  margin: 16px 0 0;
}

.grid-stack-item-content > div.collection-wrapper {
  padding-bottom: 0;
}

#push-holder {
  border-collapse: collapse;
}
#push-holder tr.push-stats-details + tr.push-stats-main {
  border-top: 1px solid #ebeef0;
}
#push-holder th {
  font-weight: bold;
}
#push-holder td {
  vertical-align: top;
}
#push-holder > tr > td,
#push-holder > tbody > tr > td {
  border: none;
}
.push-stats-main td {
  cursor: pointer;
}
.push-stats-details {
  display:  none;
}

.push-stats-details table {
  display: inline-block;
  width: 160px;
  margin-left: 100px;
  border-collapse: collapse;
  vertical-align: top;
}
.push-stats-details table td {
  border: 1px solid #ebeef0;
}
.push-stats-details table td:first-child {
  width: 100px;
  font-weight: bold;
}

.push-stats-message {
  padding: 0 0 10px;
}

.delivery-holder,
.conversion-holder {
  position: relative;
  padding-top: 20px;
}
.canvas-holder,
.doughnut-legend {
  display: inline-block;
  vertical-align: top;
}
.doughnut-legend {
  position: absolute;
  z-index: 200;
  top: 0px;
  left: 140px;
  margin: 0;
  padding: 5px;
  background: rgba(255,255,255,0.3);
  list-style-type: none;
}
.conversion-holder .doughnut-legend {
  top: 20px;
}

#save-push button {
  margin-top: 20px;
}
.apns-holder {
  padding: 0;
}

.doughnut-legend-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 4px 4px 0 0;
}
.doughnut-legend-text {
  vertical-align: top;
}

.fixed-device-container {
  position: fixed;
  top: 0;
}

.device-holder {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../images/bg_device.png') no-repeat left top;
  background-size: 100%;
}
.device-screen {
  position: absolute;
  top: 10.5%;
  bottom: 11.5%;
  left: 5.5%;
  right: 5.3%;
  background: white;
  border: 2px solid #dddddd;
  border-radius: 4px;
}

.device-screen h1,
.device-screen h2,
.device-screen h3,
.device-screen h4,
.device-screen h5,
.device-screen h6 {
  display: block;
  font-weight: bold;
  line-height: 1.4em;
}

.device-screen h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
.device-screen h2 {
  margin: 0.83em 0;
  font-size: 1.5em;
}
.device-screen h3 {
  margin: 1em 0;
  font-size: 1.17em;
}
.device-screen h4 {
  margin: 1.33em 0;
  font-size: 1em;
}
.device-screen h5 {
  margin: 1.67em 0;
  font-size: 0.83em;
}
.device-screen h6 {
  margin: 2.33em 0;
  font-size: 0.67em;
}

.device-screen img {
  max-width: 100%;
}

.device-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 16%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: left;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px
}
.device-header-collections-view {
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.device-header-products-view {
  display: none;
  height: 10%;
}
.device-header-info {
  vertical-align: top;
}
.device-header-logo {
  height: 43%;
  margin: 0 auto;
}
.device-header-content {
  position: absolute;
  top: 48%;
  table-layout: fixed;
  width: 100%;
  padding: 0;
  font-size: 1.3vw;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.device-header-content td {
  overflow: hidden;
  padding: 0 1.5%;
  border: none;
  text-overflow: ellipsis;
}
.device-header-content-back {
  width: 25%;
  text-align: left;
}
.device-header-content-title {
  text-align: center;
}
.device-header-content-back > i.fa {
  vertical-align: top;
  font-size: 2.1vw;
  font-weight: 300;
  line-height: 0.6em;
}
.device-header-content-back > span {
  vertical-align: top;
  font-size: 1.3vw;
  font-weight: 300;
  line-height: 1.2em;
}
.device-header-content-title span {
  vertical-align: top;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 1.2em;
}

.device-status-holder {
  padding: 0 2%;
  color: black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.device-status-holder.device-status-dark {
  color: white;
}
.device-status-bar td.device-status-time {
  font-size: .9vw;
  font-weight: 500;
  letter-spacing: .05vw;
  text-align: center;
}
.device-status-bar {
  table-layout: fixed;
  width: 100%;
  font-size: 1vw;
  line-height: 1.4em;
}
.device-status-bar td {
  padding: 0;
  border: none;
}
.device-status-bar td.device-status-wifi {
  width: 33%;
  text-align: left;
  font-size: .85vw;
  letter-spacing: .03vw;
}
.device-status-bar td.device-status-battery {
  text-align: right;
  width: 33%;
}
.device-status-battery > div {
  height: 0.8vw;
  background: url('../images/icon_status_battery_light.png') no-repeat right top;
  background-size: contain;
}
.device-status-holder.device-status-dark .device-status-battery > div {
  background-image: url('../images/icon_status_battery_dark.png');
}

.device-search-holder {
  height: 40%;
  padding: 2%;
  border-bottom: 1px solid #6c6c6c;
  text-align: center;
}
.device-search-bar {
  height: 100%;
  margin: 0;
  background: white;
  color: #8e8e93;
  border-radius: 4px;
  font-size: 1.00vw;
  line-height: 1.6em;
}

.device-body {
  position: absolute;
  top: 15.9%;
  bottom: 10%;
  left: 0;
  right: 0;
  font-size: 1.00vw;
  line-height: 1.4em;
  text-align: left;
}
.device-body-products {
  top: 9.9%;
}
.device-body-content {
  overflow: auto;
  height: 100%;
}
.device-body-content-products-view {
  display: none;
}

.device-body-content-banners .one-whole {
  line-height: 0;
}
.device-banner-image {
  max-width: 100%;
  cursor: pointer;
}

.device-body-content-page {
  padding: 0 3%;
}

.device-table-view,
.device-grid-view,
.device-list-view {
  display: none;
}

.device-table-view > div.one-whole {
  position: relative;
  width: 100%;
  min-height: 4vw;
  cursor: pointer;
}
.device-table-view > div.one-whole > img {
  max-width: 100%;
}

.device-table-cell-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.device-table-cell-title-holder {
  display: table;
  width: 100%;
  height: 100%;
}
.device-table-cell-title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  white-space: nowrap;
}

.device-list-view > div.one-whole {
  position: relative;
  width: 100%;
  margin-bottom: 1px;
  cursor: pointer;
}
.device-list-item-holder {
  padding: 3% 12% 3% 25%;
}
.device-list-item-holder > .fa {
  position: absolute;
  top: 50%;
  right: 4%;
  margin-top: -0.5em;
}
.device-list-item-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 19%;
  margin: 3%;
}
.device-list-item-title,
.device-list-item-price {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.device-list-item-title {
  font-size: 1.1em;
  font-weight: 500;
}
.device-list-item-price {
  font-weight: 300;
}

.device-grid-view {
  padding: 0 3%;
}
.device-grid-view .grid {
  margin-left: -3%;
}
.device-grid-view .grid__item {
  padding-left: 3%;
  padding-bottom: 3%;
  cursor: pointer;
}
.device-grid-view .grid__item:nth-child(odd) {
  clear: left;
}
.device-grid-view .grid__item:nth-child(even) {
  clear: right;
}
.device-grid-view .secondary-bg {
  padding: 5%;
  box-sizing: border-box;
}

.device-grid-cell-title,
.device-grid-cell-price {
  overflow: hidden;
  padding: 5% 0 0;
  text-align: center;
}
.device-grid-cell-title {
  display: table;
  width: 100%;
  font-size: 1.1em;
  max-height: 2.4em;
  font-weight: 600;
}
.device-grid-cell-title > div {
  display: table-cell;
  height: 2.4em;
  vertical-align: middle;
}
.device-grid-cell-title > div > div {
  max-height: 2.4em;
}

.device-grid-cell-price {
  padding-top: 5%;
  padding-bottom: 0;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.device-body-content-collections {
  margin-top: 3%;
}
.device-body-content-collections .device-grid-cell-title,
.device-body-content-collections .device-grid-cell-price {
  text-transform: uppercase;
}

.device-grid-cell-image {
  display: block;
  width: 100%;
  height: 7vw;
}
.device-list-item-text {
  text-align: left;
  padding: 5% 0;
}

.device-footer {
  overflow: hidden;
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10%;
}

.device-footer-svg {
  overflow: hidden;
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
}
.device-footer-svg > svg {
  padding-top: 10%;
  margin-top: 0.3vw;
}
.device-footer-title {
  font-size: .8vw;
  line-height: 1vw;
  letter-spacing: .03vw;
}



body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.7;
  z-index: 2000;
}

.jq-sortable-list,
.jq-sortable-sublist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.jq-sortable-sublist {
  padding-left: 20px;
}

.jq-sortable-list li {
  margin-top: 10px;
  padding: 5px 7px;
  background: #fcfcfc;
  border: 1px solid #f0f0f0;
  line-height: 30px;
}

#catalog-holder > li {
  margin-top: 20px;
}

.jq-sortable-list .placeholder {
  position: relative;
  height: 42px;
}

.jq-sortable-list li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}


.link-holder ul.ui-autocomplete {
  position: absolute !important;
  z-index: 10;
  overflow: auto;
  width: 300px !important;
  max-height: 130px;
  padding: 5px 10px;
  margin-top: -1px;
  background: white;
  border: 1px #d3dbe2 solid;
  box-sizing: border-box;
  cursor: pointer;
}

.link-holder ul.ui-autocomplete li {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 13px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.link-holder ul.ui-autocomplete li:hover {
  font-weight: bolder;
}
.ui-helper-hidden-accessible {
  display: none;
}

.banners-form {
  margin-bottom: 0;
}
.banners-form > section {
  /*padding-bottom: 80px;*/
}
.banner-setting .link-holder input {
  margin-bottom: 0;
}

#navigations-holder .sortable-list-row:last-child .link-holder ul.ui-autocomplete {
  max-height: 96px;
}
#navigations-container > section {
  padding-bottom: 80px;
}
#navigations-container > .next-pane--form {
  margin-top: -60px;
}

.main-push-attention {
  text-align: center;
  font-size: 1.5em;
}
.main-push-attention p {
  margin: 1em 0;
}
.main-push-attention img {
  max-width: 400px;
}

#meta-app-id-holder {
  display: none;
}
.ui-banner ul {
  margin-bottom: 0;
}

input.ui-autocomplete-input {
  padding-right: 30px;
}
.autocomplete-loader {
  display: none;
  float: right;
  width: 20px;
  height: 20px;
  margin: -24px 4px 0 0;
  padding: 0;
}
.autocomplete-loader .next-spinner > .next-icon {
  width: 20px;
  height: 20px;
}
.banner-setting + .banner-setting  + .banner-setting .ui-autocomplete {
  max-height: 90px;
}

.nav-link-holder {
  display: inline-block;
  position: relative;
}
.nav-link-holder .autocomplete-loader {
  position: absolute;
  top: 4px;
  right: 8px;
  margin: 0;
}


.submission-page {
  padding: 8px 40px;
  text-align: center;
}
.submission-logo img {
  width: 170px;
}
.submission-title {
  padding: 3px 3px 30px;
}
.submission-title h1 {
  color: #c2ced7;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
}
.submission-content {
  overflow: hidden;
  margin-bottom: 50px;
}
.submission-content form {
  display: inline-block;
}
.submission-content .next-card {
  text-align: left;
}
.submission-content h1 {
  color: #a5b1ba;
  font-size: 35px;
  margin: 0;
}
.submission-content-note {
  margin: 1px 0 6px;
  padding: 0;
  color: #555555;
  font-size: 13px;
}
.submission-content h3 {
  margin-top: 0;
}
.submission-content label {
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: bold;
  color: #30363c;
}
.submission-content .grid__item p {
  font-size: 14px;
  line-height: 19px;
}

.image-preview-holder {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
}

#help-content p.illustration {
  text-align: center;
}
#help-content p.illustration img {
  max-width: 100%;
}

#help-progress-holder {
  margin-bottom: 20px;
}
#help-progress-holder table
#install-progress-holder table {
  table-layout: fixed;
}
#help-progress-holder td,
#install-progress-holder td {
  border: none;
}
td.progress-point {
  width: 40px;
  height: 40px;
  padding: 0;
  background: #dddddd;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}
td.progress-point > a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: inherit;
}
td.progress-point.completed {
  background: #0078bd;
}

td.progress-steps-container {
  position: relative;
  padding: 4px;
}
td.progress-steps-container.current {
  width: 30%;
}
.progress-steps-holder {
  width: 100%;
  height: 6px;
  background: #dddddd;
}
.progress-steps {
  width: 0;
  height: 6px;
  background: #0078bd;
}
td.completed .progress-steps {
  width: 100%;
  background: #0078bd;
}

.progress-title,
.progress-count {
  display: none;
  overflow: hidden;
  position: absolute;
  left: 10px;
  right: 10px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.progress-title {
  top: -2px;
}
.progress-count {
  font-weight: bold;
}

td.progress-steps-container.current .progress-title,
td.progress-steps-container.current .progress-count {
  display: block;
}

.help-steps-navigation {
  float: right;
  margin: 0 0 10px 10px;
}
.help-steps-navigation + p {
  min-height: 24px;
  margin-top: 0.5em;
}
.help-steps-navigation a:first-child {
  margin-right: 5px;
}

#help-sidebar-menu a.current {
  background: #eff9fd;
  text-decoration: none;
}

#install-header {
  padding: 40px 40px 80px;
  margin: -20px -20px -40px;
  background: #dfe6ef url(https://nexusmedia-ua.github.io/cdn/easymobile/images/pattern.png);
  background-size: 200px;
  border-bottom: 4px solid #c2cbd4;
  text-align: center;
}
#install-header h1 {
  font-size: 34px;
}
#install-header h3 {
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 1px;
}

#channels-parser-holder {
  display: none;
}
#channels-parser-holder textarea {
  margin: 8px 0;
}


.form-tabs td {
  padding: 0;
}
.form-tabs button {
  display: block;
  width: 100%;
  border-radius: 0;
  border-color: #3f4eae;
  box-shadow: none !important;
}
.form-tabs .td-first button {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.form-tabs .td-last  button {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.Polaris-Banner {
  text-align: left;
}
.form-elements + .form-elements,
.Polaris-Banner + .form-elements {
  margin-top: 2rem;
}
.Polaris-TextField textarea {
  min-height: 85px;
}
.form-elements .Polaris-FormLayout__Item {
  margin-top: 0;
}
.form-tabs button.active {
  background: -webkit-linear-gradient(top, #3f4eae, #3f4eae);
  background: linear-gradient(to bottom, #3f4eae, #3f4eae);
  border-color: #38469b;
}

.account-notices-holder {
  margin-top: 2rem;
}
.account-notices-holder .Polaris-ButtonGroup .Polaris-ButtonGroup__Item {
  margin-left: 0.8rem;
}
.account-notice {
  display: none;
}
#notice-none.account-notice {
  display: block;
}

.or-checkbox-container {
  margin: 1rem 0;
  text-align: center;
}
.or-checkbox-holder {
  display: inline-block;
}
.or-checkbox-holder p {
  margin: 2rem 0;
}
.or-checkbox-container label {
  text-align: left;
}

.form-elements .Polaris-FormLayout__Items {
  align-items: normal;
}
.Polaris-Label__Text {
  margin-bottom: 0;
}
.form-field-error {
  display: block;
  background: url('../images/error.svg') no-repeat left top;
  padding-left: 24px;
  color: #b22e34;
  line-height: 22px;
}

.residue-symbols {
  position: absolute;
  z-index: 99;
  bottom: 2px;
  right: 2px;
  font-size: 12px;
  line-height: 12px;
}

.template-sdk_settings .one-whole .section-table > .next-card {
  max-width: 800px;
  margin: 40px auto;
}
.submission-sent-notify {
  margin-top: 26px;
}
.errors-list {
  margin-bottom: 20px;
}