body {
  background: none;
}

input[type=checkbox],
input[type=radio] {
  float: left;
  margin-top: 2px;
  margin-right: 8px;
}

select {
  background: white;
  border: 1px solid #d3dbe2;
}
select[multiple] {
  height: 74px;
}

.btn-default, .btn {
  max-width: 100%;
  box-sizing: border-box;
}

#editor-sidebar-header > .next-pane__header {
  height: auto;
}
#editor-sidebar-header > .next-pane__header section {
  margin: 0 auto;
  text-align: center;
}
#editor-sidebar-header > .next-pane__header section p {
  margin: 10px 0;
}

#editor-sidebar-form-container select {
  width: 100%;
}
.easy-disabled {
  position: relative;
}
.easy-disabled:after {
  content: '';
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  cursor: wait !important;
}
.stat--red {
  color: red;
}
.loader .next-spinner > .next-icon--20 {
  width: 20px;
  height: 20px;
}

* + header.next-pane__header {
  margin-top: 20px;
}

.lightbox {
  display: none;
}

.grid-stack {
  background: white;
  border-width: 5px 0;
  border-style: solid;
  border-color: white;
}

#field-edit-error,
#form-edit-error {
  display: none;
  padding: 0 0 10px;
}
#form-edit-notice {
  display: none;
  padding: 5px;
  margin: 0 0 15px;
  border: 1px solid;
}

#editor-sidebar-form-loader {
  display: none;
  margin: 20px auto;
}

#easysearch-tabs {
  position: relative;
  box-shadow: none;
}

.featherlight-content .grid__item {
  overflow: hidden;
  word-wrap: break-word;
}
.featherlight .featherlight-content {
  max-width: 90%;
}


.fields-holder {
  text-align: left;
}
.field-preview {
  margin-top: 1px;
  margin-right: 90px;
}

.delete-field,
.edit-field,
.info-field {
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  border: none;
  font-size: 0;
}
.delete-field {
  right: 40px;
  background: transparent url('../images/icon-close.png') no-repeat;
  background-size: 100%;
}
.edit-field {
  right: 60px;
  background: transparent url('../images/icon-gear.png') no-repeat;
  background-size: 100%;
  opacity: 0.8;
}
.info-field {
  right: 80px;
  background: transparent url('../images/icon-question.png') no-repeat;
  background-size: 100%;
  opacity: 0.8;
}
.move-icon {
  opacity: 0.2;
  position: absolute;
  top: 50%;
  right: 0;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background: transparent url('../images/icon-arrow-move.png') no-repeat;
  background-size: 100%;
  border: none;
  font-size: 0;
  cursor: move;
}

.form-field .delete-field,
.form-field .edit-field,
.form-field .info-field {
  top: auto;
  bottom: 18px;
}
.form-field .move-icon {
  top: auto;
  bottom: 6px;
}

.grid-stack {
  border: none;
}
.grid-stack > .grid-stack-item > .ui-resizable-se {
  display: none !important;
}

.grid-stack-item.editing {
  background-color: rgba(173, 255, 47, 0.4);
  border-width: 1px 0px;
  border-style: dashed;
  border-color: cadetblue;
}
.grid-stack > .grid-stack-item > .grid-stack-item-content {
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

#fields-container {
  position: relative;
  background: white;
}
#fields-container .next-pane__header {
  position: relative;
}
#easysearch-tabs-loader {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  margin: -10px 0 0;
}

.field-preview label {
  overflow: hidden;
  height: 18px;
  padding-right: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.field-preview label.required:after {
  content: ' *';
}
.field-preview select {
  width: 100%;
  margin: 0;
}

.elements-holder {
  overflow: hidden;
  clear: both;
  margin-bottom: 15px;
}
.elements-holder:last-of-type {
  margin-bottom: 0;
}

.elements-holder input,
.elements-holder textarea,
.elements-holder select,
.elements-holder p {
  margin-bottom: 0;
}

.elements-holder .btn-large {
  margin: 0;
}

.hidden-title {
  opacity: 0.15;
}

#import-link,
#export-link {
  margin-right: 8px;
}
#import-box {
  margin: 1em 0;
  display: none;
}
#import-file {
  margin: 0;
  padding: 0;
  border: none;
}
#database-holder {
  margin-top: 8px;
}
#database-actions {
  position: relative;
  padding-right: 140px;
}
#database-actions .import-db-btn {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -22px;
}
#import-example table {
  table-layout: fixed;
  width: 100%;
}
#import-notice {
  margin: 0;
}

.field-value-to-holder,
.field-step-holder {
  display: none;
}
.field-range-holder {
  clear: both;
}
#form-rule {
  padding-bottom: 60px;
}
#form-rule .grid__item {
  padding-bottom: 0;
}



.tag > span {
  text-overflow: ellipsis;
  vertical-align: top;
}
.tag.green-tag > span.active {
  background: #b5ea9f;
  border-color: #99d899;
}
.tag.green-tag > span.active .close,
.tag.green-tag > span.active .add-or {
  border-color: #99d899;
}

#no-rules {
  display: none;
}
#rules-list td {
  vertical-align: top;
  padding-top: 10px;
  line-height: 0;
}
#rules-list td.tag {
  font-size: 0;
}
.rule-actions {
  width: 130px;
}
.rule-actions .btn {
  padding: 7px 15px;
  margin-bottom: 4px;
  vertical-align: top;
}
.rule-status i.fa {
  font-size: 18px;
  line-height: 28px;
  cursor: pointer;
  vertical-align: top;
  color: #d9d9d9
}
.rule-status i.fa-toggle-on {
  color: #90d246;
}

.rule-edit-text {
  display: inline-block;
}
.rule-edit-icon {
  display: none;
}

@media only screen and (max-width: 640px) {
  .rule-actions {
    width: 94px;
  }
  .rule-edit-text {
    display: none;
  }
  .rule-edit-icon {
    display: inline-block;
  }
}

span.label-from {
  display: none;
}

.remove-rule-loader {
  float: right;
  width: 20px;
  height: 20px;
  margin: 4px 11px;
  padding: 0;
}
.remove-rule-loader .next-spinner > .next-icon {
  width: 20px;
  height: 20px;
}

.tag > span.empty-rule {
  background: #fff7b2;
  border-color: #efce6d;
}

.route-value-holder {
  display: none;
}


input.ui-autocomplete-input {
  padding: 0 30px;
  margin: 0;
  background: white;
  border-color: #d3dbe2 !important;
}
.autocomplete-loader {
  display: none;
  float: right;
  width: 20px;
  height: 20px;
  margin: -24px 4px 0 0;
  padding: 0;
}
.autocomplete-loader .next-spinner > .next-icon {
  width: 20px;
  height: 20px;
}
.ui-autocomplete {
  max-height: 204px;
}
.custom-combobox {
  position: relative;
  width: 100%;
}
span.custom-combobox:before {
  content: "\f002";
  position: absolute;
  top: 50%;
  left: 10px;
  right: auto;
  font-size: 14px;
  margin-top: -0.5em;
  color: #95a7b7;
}


#route-value-products-subholder {
  position: relative;
  padding-bottom: 2px !important;
}
#route-value-products-subholder ul.ui-autocomplete {
  position: absolute !important;
  z-index: 99;
  top: 40px !important;
  overflow: auto;
  max-width: 100%;
  padding: 5px 0;
  margin: -1px 0 20px;
  background: white;
  border: 1px #d3dbe2 solid;
  box-sizing: border-box;
  cursor: pointer;
}
#route-value-products-subholder ul.ui-autocomplete li {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: white;
  border: none;
  font-size: 13px;
  line-height: 20px;
  text-overflow: ellipsis;
}
#route-value-products-subholder ul.ui-autocomplete li a {
  display: -webkit-flex; /* Safari */
  display: flex;
  padding: 5px 10px;
}
#route-value-products-subholder ul.ui-autocomplete li a.selected-product {
  background: #eff9fd;
  color: #798c9c;
}
#route-value-products-subholder ul.ui-autocomplete li a:hover {
  background: #0078bd;
  color: white;
}
#route-value-products-subholder ul.ui-autocomplete li a i.fa {
  visibility: hidden;
  padding: 4px 9px 4px 4px;
}
#route-value-products-subholder ul.ui-autocomplete li a.selected-product i.fa {
  visibility: visible;
}

.autocomplete-tooltip {
  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  pointer-events: none;
}
.autocomplete-tooltip:before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  background-color: rgba(255,255,255,0.98);
  border: 1px #d3dbe2 solid;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#route-product-values {
  clear: both;
  padding-top: 15px;
}
#route-product-values td {
  border-bottom: 1px solid #ebeef0;
}
td .image-holder {
  display: block;
  position: relative;
  width: 40px;
  padding: 0 0 40px;
  background: #fafbfc;
}
td .image-holder img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
#route-product-values button {
  border: none;
}
#route-product-values button i.fa {
  font-size: 16px;
}

.hr {
  overflow: hidden;
  clear: both;
  margin: 0 -20px;
}
.hr hr {
  margin: 15px 0;
}

.template-rule #form-rule > div {
  overflow: visible;
}

.tour-step-1 {
  margin-top: -20px;
  height: 0;
  width: 200px;
}