@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext);
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: #d3dbe2;
}

body {
  line-height: 18px;
  font-size: 13px;
  color: #212b35;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #479ccf;
  cursor: pointer;
}

label {
  display: block;
  color: #212b35;
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea {
  display: inline-block;
  vertical-align: top;
  height: 34px;
  width: 100%;
  max-width: 100%;

  padding: 5px 10px;
  margin: 0;

  background-color: white;
  border: 1px solid #c4cdd5;
  color: #222;
  border-radius: 3px;

  line-height: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;

  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  min-height: 72px;
  line-height: 20px;
}

input[type=checkbox], input[type=radio] {
  height: auto;
  line-height: 1;
  width: auto;
  max-width: none;
  margin: 0 5px 5px 0;
  border: none;
  padding: 0;
  display: inline-block;
  vertical-align: baseline;
}

.inline {
  display: inline !important;
  width: auto !important;
}

select {
  display: inline-block;
  vertical-align: top;
  height: 34px;
  max-width: 100%;
  margin: 0;
  padding: 5px 32px 5px 10px;
  border: 1px solid #c4cdd5;
  border-radius: 3px;
  line-height: 24px;
  color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;

}

h1, h2, h3, h4, h5, h6 {
  color: #212529;
  font-weight: 400;
  margin: 0;
    line-height: 28px;
}

h1 {
  font-size: 26px;
  line-height: 36px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: 400;
  text-align: left;
  color: #212b35;
  padding: 8px 10px;
  border-bottom: 1px solid #d3dbe2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

th {
  font-weight: 400;
  text-align: left;
  color: #212b35;
  padding: 8px 10px;
  border-bottom: 1px solid #d3dbe2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  border-bottom: 1px solid #d3dbe2;
  padding: 6px 10px;
  background: transparent;
}

section {
  overflow: hidden;
  clear: both;
  padding: 15px 0;
}

hr {
  border: none;
  border-top: 1px #d3dbe2 solid;
  margin: 10px -20px;
  padding: 0;

}

button {
  cursor: pointer;
}


.ssb { margin-bottom: 15px !important; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.padding { padding: 20px; }
.padding-top { padding-top: 20px; }
.padding-right { padding-right: 20px; }
.padding-bottom { padding-bottom: 20px; }
.padding-left { padding-left: 20px; }


.btn,
.btn:visited {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: auto;
  width: auto;
  margin: 0;
  padding: 5px 10px;

  color: #212b35 !important;
  background: linear-gradient(to bottom, #fff, #fafbfc) !important;
  border: 1px #c4cdd5 solid !important;
  border-radius: 3px;

  line-height: 22px;
  font-size: 14px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: 0 1px 0 0 rgba(22,29,37,0.05) !important;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;

  transition: all 0.2s ease-out !important;
  transition-property: background, border, box-shadow, color;
}

.btn:hover,
.btn:focus,
.btn:active  {
  background: linear-gradient(to bottom, #fafbfc, #f5f6f7) !important;
  color: #212b35;
  border: 1px #c4cdd5 solid !important;
  box-shadow: 0 1px 0 0 rgba(22,29,37,0.05) !important;
}

.btn-primary,
.btn-primary:visited {
  background: linear-gradient(to bottom, #6371c7, #5563c1) !important;
  border: 1px #3f4eae solid !important;
  color: #ffffff !important;
  font-size: 1.4rem;
  box-shadow: inset 0 1px 0 0 #6f7bcb !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: linear-gradient(to bottom, #5c6ac4, #4959bd) !important;
  border: 1px #3f4eae solid !important;
  color: #ffffff !important;
}
.btn-large {
  font-size: 1.6rem;
  padding: 1.3rem 2.4rem;
}
.btn-large {
  font-size: 1.6rem;
  padding: 1.3rem 2.4rem;
}


.wrapper {
  padding: 0 20px 20px 20px;
}

.section h1, .section h2 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
}

.section-summary p {
  color: #798c9c;
}

.note {
  color: #5b6b79;
  font-weight: normal;
  text-transform: none;
}

p.note { margin-top: 0; }



.tab_list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f5f6f7;
  overflow: visible;
  border-radius: 3px 3px 0 0;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.tab_list > li {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tab_list>li>a {
  padding: 15px 20px;
  text-decoration: none;
  color: #798c9c;
  border-right: 1px solid #d3dbe2;
  border-bottom: 1px solid #d3dbe2;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tab_list>li>a.active {
  background-color: white;
  color: #212b35;
  border-bottom-color: white;
  cursor: default;
  text-decoration: none;
}

.tab_list>li:first-child>a {
  border-top-left-radius: 3px;
}

.tab_list_full > li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tab_list > li > * {
  outline: none;
}

.tab_list .next-tab {
  padding: 15px 20px;
  text-decoration: none;
  color: #798c9c;
  border-right: 1px solid #d3dbe2;
  border-bottom: 1px solid #d3dbe2;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: none;
}

.tab_list .next-tab.active {
  background-color: white;
  color: #212b35;
  border-bottom-color: white;
  cursor: default;
  text-decoration: none;
}

.tab_list > li:first-child .next-tab {
  border-top-left-radius: 3px;
}

.tab_list .next-tab-disclosure-container {
  display: none;
}
.tab_list_full .next-tab-disclosure-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0
}

.tab_list .next-tab-disclosure-container .next-tab {
  border-top-right-radius: 3px;
}
.tab_list .next-tab-disclosure {
  padding: 0 20px;
}

.tab_list .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 197;
  min-width: 175px;

  margin-top: 11px;
  background: #ffffff;
  border: 1px solid #c0c0c0;
  border-radius: 3px;

  font-size: 0;
  line-height: 18px;
  text-align: left;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.25);
}

.tab_list .active .dropdown {
  display: block;
  -webkit-animation: reveal 0.2s ease-out;
  animation: reveal 0.2s ease-out;
}

.tab_list .dropdown::after,
.tab_list .dropdown::before {
  content: "";
  position: absolute;
  top: -7px;
  right: 10px;
  width: 0;
  height: 0;

  border-bottom: 7px solid #c2c2c2;
  border-top: none;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.tab_list .dropdown::after {
  top: -6px;
  border-bottom: 7px solid #ffffff;
}

.tab_list .dropdown .tab_list_vertical {
  display: block;
  background: transparent;
  margin: 5px 0;
  padding: 7px 0;
}

.tab_list .tab_list_vertical li {
  text-transform: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
}

.tab_list .tab_list_vertical li a {
  display: block;
  padding: 8px 20px;
  border: none;
  border-radius: 0px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

#pagination-links {
  padding: 0;
  line-height: 22px;
  font-size: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
#pagination-links>li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  position: relative;
}
#pagination-links>li>a {
  display: inline-block;
  position: static;
  border-radius: 0px 0px 0px 0px;
  border-left-width: 0 !important;
}
#pagination-links>li:first-child>.btn,
#pagination-links>li.first-child>.btn {
  border-radius: 3px 0px 0px 3px !important;
  border-left-width: 1px !important;
}
#pagination-links>li:last-child>.btn {
  border-radius: 0px 3px 3px 0px !important;
}
.page-prev, .page-next, .page-down, .page-up {
  display: block;
  width: 1em;
  height: 1em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
}
.page-prev {
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2028%2028%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2Cellipse%2Cline%2Cpath%2Cpolygon%2Cpolyline%2Crect%2Ctext%7Bfill%3A%23479ccf%20%21important%3B%20%7D%3C%2Fstyle%3E%3Cpath%20d%3D%22M23%2C24.7L12.5%2C14.2L23%2C3.7L20.3%2C1L7%2C14.2l13.3%2C13.3C20.3%2C27.5%2C23%2C24.7%2C23%2C24.7z%22%2F%3E%3C%2Fsvg%3E);
}
.disabled .page-prev {
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2028%2028%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2Cellipse%2Cline%2Cpath%2Cpolygon%2Cpolyline%2Crect%2Ctext%7Bfill%3A%23c3cfd8%20%21important%3B%20%7D%3C%2Fstyle%3E%3Cpath%20d%3D%22M23%2C24.7L12.5%2C14.2L23%2C3.7L20.3%2C1L7%2C14.2l13.3%2C13.3C20.3%2C27.5%2C23%2C24.7%2C23%2C24.7z%22%2F%3E%3C%2Fsvg%3E);
}
.page-next {
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2028%2028%22%20enable-background%3D%22new%200%200%2028%2028%22%20xml%3Aspace%3D%22preserve%22%20width%3D%2228%22%20height%3D%2228%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2Cellipse%2Cline%2Cpath%2Cpolygon%2Cpolyline%2Crect%2Ctext%7Bfill%3A%23479ccf%20%21important%3B%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23329ECC%22%20d%3D%22M7%2C3.8l10.5%2C10.5L7%2C24.7l2.7%2C2.7L23%2C14.3L9.7%2C1C9.7%2C1%2C7%2C3.8%2C7%2C3.8z%22%2F%3E%3C%2Fsvg%3E);
}
.disabled .page-next {
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2028%2028%22%20enable-background%3D%22new%200%200%2028%2028%22%20xml%3Aspace%3D%22preserve%22%20width%3D%2228%22%20height%3D%2228%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2Cellipse%2Cline%2Cpath%2Cpolygon%2Cpolyline%2Crect%2Ctext%7Bfill%3A%23c3cfd8%20%21important%3B%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23329ECC%22%20d%3D%22M7%2C3.8l10.5%2C10.5L7%2C24.7l2.7%2C2.7L23%2C14.3L9.7%2C1C9.7%2C1%2C7%2C3.8%2C7%2C3.8z%22%2F%3E%3C%2Fsvg%3E);
}


.next-pane__header {
  border-bottom: 1px solid #d3dbe2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 57px;
  padding: 0 20px;
}

.next-pane__header h3 {
  margin: 0;
}

.next-card {
  background-color: white;
  border-radius: 3px;
  color: #212b35;
  padding: 20px;
  overflow: hidden;
}
.panel, .next-card {
  box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
  border-radius: 3px !important;
  margin-top: 1.8rem !important;
}
.panel {
  padding: 0 !important;
}

.rounded-next-card-holder {
  margin: 18px 0 0;
  text-align: center;
}
.rounded-next-card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  padding: 16px 20px 16px 16px;
  margin: 0;
  background: transparent;
  border: 1px solid #dfe4e8;
  border-radius: 999px !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.rounded-next-card-icon-holder {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 8px 16px 8px 8px;
  background: white;
  fill: #47c1bf;
}
.rounded-next-card-icon {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.rounded-next-card-icon:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background: white;
  border-radius: 50%;
}
.rounded-next-card-icon > svg {
  position: relative;
  z-index: 2;
  width: 100%;
}

.next-pane__body {
  position: relative;
  padding: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.next-list, .next-list--divided, .product-photo-grid, .photo-overlay-actions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.next-list--divided > li {
  width: 100%;
  border-bottom: 1px solid #d3dbe2;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.next-list--divided > li > a {
  display: block;
  padding: 10px 20px;
}
.next-list--divided > li a:hover,
.next-list--divided > li a.is-selected {
  text-decoration: none;
}

.next-list--divided > li:last-child {
  /*border-bottom: none;*/
}
.next-list--divided.dropdown > li > a,
.next-list--divided.dropdown > li > a:hover {
  position: relative;
  padding: 15px 30px 15px 20px;
  line-height: 1em;
  color: #212b35;
  font-weight: bold;
}
.next-list--divided.dropdown > li.active > a {
  text-decoration: none;
}
.next-list--divided.dropdown > li > div {
  display: none;
}
.next-list--divided.dropdown > li > a:after {
  content: "\f0d7";
  position: absolute;
  top: 50%;
  right: 14px;
  margin-top: -7px;
  font: normal normal normal 14px/1 FontAwesome;
}
.next-list--divided.dropdown > li.active > a:after {
  content: "\f0d8";
}

.next-pane__footer-wrapper {
  background: #d3dbe2;
  text-align: center;
}

.next-pane__footer {
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 62px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.next-pane--form {
  padding: 20px 20px 10px 20px;
}


.section-table .next-card  {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.section-summary {
  padding: 20px 40px 20px 50px;
}

.section-summary h3 {
  color: #212b35;
  line-height: 1.325;
  margin-top: -4px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}

.obj-filter-text {
  border-radius: 3px;
  height: 32px;
  font-size: 13px;
  padding-left: 28px;
  background-image: url(//cdn.shopify.com/s/assets/admin/icon-sprite-c4abce68019f7937b03fc92c163f45ad.png);
  background-repeat: no-repeat;
  background-position: -4px -960px;
  border-color: #d3dbe2;
  margin-bottom: 15px;
}

.image img {
  max-width: 50px;
  margin: 0 auto;
  border-radius: 4px;
  background: #d3dbe2;
}



.loader {
  margin: 50px auto 50px auto;
  text-align: center;
}

.loader .next-spinner {
  display: inline-block;
  -webkit-animation: next-spinner-rotate 600ms linear infinite;
  animation: next-spinner-rotate 600ms linear infinite;
  position: relative;
  line-height: 0;
}

.loader .next-spinner>.next-icon {
  position: static;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: -0.15em;
  display: inline-block;
}

.loader .next-spinner .next-spinner__ring {
  stroke: #479ccf;
  stroke-dasharray: 100%;
  stroke-width: 2px;
  stroke-linecap: round;
  fill: none;
}

@-webkit-keyframes next-spinner-rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
@keyframes next-spinner-rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}





.stat__heading {
  color: #95a7b7;
  font-size: 15px;
  vertical-align: bottom;
}

.stat--green {
  color: #96bf48;
}

.stat__number {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.no-padding {
  padding-left:0 !important;
  padding-right:0 !important;
}
.no-padding-bottom {
  padding-bottom:0 !important;
}
.no-padding-top {
  padding-top:0 !important;
}
.no-padding-left {
  padding-left:0 !important;
}

.ui-banner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px;
  padding: 0 20px;
  background-color: #d3dbe2;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
}
.ui-banner > p,
.ui-banner > div {
  margin: 1em 0;
}
.ui-banner--status-info {
  background-color: #cae9f7;
}
.ui-banner--status-success {
  background-color: #e5fabc;
}
.ui-banner--status-warning {
  background-color: #fff7b2;
}
.ui-banner--status-critical {
  background-color:#ff9797;
}
.ui-banner--default-horizontal-spacing {
  margin-right: 20px;
  margin-left: 20px;
}
.ui-banner--default-vertical-spacing {
  margin-bottom: 20px;
}

.ui-empty-state {
  text-align: center;
}
.ui-empty-state__section {
  padding: 40px 0;
}
.ui-empty-state__subsection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px;
}
.ui-empty-state__subsection + .ui-empty-state__subsection {
  padding-top: 40px;
}
.ui-empty-state__title {
  margin: 0 0 20px;
  color: #212b35;
  font-size: 32px;
  line-height: 1.2em;
}
.ui-empty-state__subtitle {
  margin: 0 0 20px;
  color: #798c9c;
  font-size: 18px;
  line-height: 1.2em;
}
.ui-empty-state__subtitle:last-child {
  margin-bottom: 0;
}
.ui-empty-state__banner {
  max-height: 270px;
}
.layout-item-status i.fa-toggle-on {
    color: #90d246;
}
.layout-item-status i.fa-toggle-off {
    color: #d9d9d9;
}
.layout-item-status i {
    font-size: 18px;
    line-height: 12px;
    cursor: pointer;
    vertical-align: top;
}
.tag > span, .tag .tag-body {
    margin: 0 5px 5px 0;
    padding: 3px 30px 3px 7px;
    border: 1px solid #cbdbee;
    background: #e9f3ff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: initial;
    letter-spacing: initial;
    color: #707070;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    position: relative;
}
.tag .close, .tag .back {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(//cdn.shopify.com/s/assets/admin/icon-sprite-fd0620cf871991a01f2321ba21b521b4502c86d282ea36fbd5e9b58aa6f2e072.png);
    background-position: -9px -3363px;
    height: 100%;
    width: 22px;
    border: none;
    border-left: 1px solid #d4e2f3;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 16px;
    text-indent: -99999px;
    top: 0px;
    right: 0px;
}
.tag.tag-without-delete > span {
  padding: 3px 7px;
}
.tag.green-tag > span {
  background: #dff0d8;
  color: #3c763d;
}