.hidden {
  display: none !important;
}
.ohidden {
  overflow: hidden;
}

input[type=checkbox],
input[type=radio] {
  float: left;
  margin-top: 2px;
  margin-right: 12px;
}
input[type=checkbox] {
  visibility: hidden;
}

hr {
  clear: both;
}

.float-right {
  overflow: hidden;
  float: right;
}

.radio-row label {
  float: left;
}
.radio-row label + input[type=radio],
.radio-row label + input[type=checkbox] {
  margin-left: 16px;
}

.easy-disabled {
  position: relative;
}
.easy-disabled:after {
  content: '';
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  cursor: wait !important;
}

.field-error {
  border: 1px solid #fb8077 !important;
}

div.mce-edit-area {
  padding: 1px;
}
.mce-btn-group:not(:first-child) {
  border: none !important;
}
.mce-btn-group:first-child + .mce-btn-group,
.mce-btn-group:first-child + .mce-btn-group + .mce-btn-group,
.mce-btn-group:first-child + .mce-btn-group + .mce-btn-group + .mce-btn-group,
.mce-btn-group:first-child + .mce-btn-group + .mce-btn-group + .mce-btn-group + .mce-btn-group,
.mce-btn-group:first-child + .mce-btn-group + .mce-btn-group + .mce-btn-group + .mce-btn-group + .mce-btn-group,
.mce-btn-group:first-child + .mce-btn-group + .mce-btn-group + .mce-btn-group + .mce-btn-group + .mce-btn-group + .mce-btn-group,
.mce-btn-group:first-child + .mce-btn-group + .mce-btn-group + .mce-btn-group + .mce-btn-group + .mce-btn-group + .mce-btn-group + .mce-btn-group {
   border-left: 1px solid #d9d9d9 !important;
}
#mceu_32,
#mceu_68 {
  display: block;
  height: 0;
  margin: 0;
}

#lockdown-content-container,
#lockdown-exception-container {
  position: relative;
  display: none;
}

input.ui-autocomplete-input {
  padding-right: 30px;
  margin: 0;
}
.content-type-loader,
.exception-type-loader,
.autocomplete-loader,
.remove-lockdown-loader {
  display: none;
  float: right;
  width: 20px;
  height: 20px;
  margin: -27px 10px 0 0;
  padding: 0;
}
.content-type-loader .next-spinner > .next-icon,
.exception-type-loader .next-spinner > .next-icon,
.autocomplete-loader .next-spinner > .next-icon,
.remove-lockdown-loader .next-spinner > .next-icon {
  width: 20px;
  height: 20px;
}
.content-type-loader,
.exception-type-loader {
  margin: 4px 0 0 0;
}
.remove-lockdown-loader {
  display: block;
  margin: 4px 11px;
}
.ui-autocomplete {
  max-height: 90px;
}

#form-lockdown section {
  padding: 0;
}
#form-lockdown section + section {
  margin-top: 20px;
}
#form-lockdown .section-helper {
  overflow: hidden;
  padding: 2px 2px 2px;
}
#form-lockdown .section-helper .grid__item {
  padding-bottom: 0;
}
#form-lockdown .error-section {
  border: 2px solid red;
}

.template-lockdown > .wrapper {
  overflow: hidden;
  padding-bottom: 500px;
}
.template-lockdown ul.ui-autocomplete {
  position: absolute !important;
  z-index: 999;
  overflow: auto;
  width: 40% !important;
  padding: 5px 10px;
  margin-top: -1px;
  background: white;
  border: 1px #d3dbe2 solid;
  box-sizing: border-box;
  cursor: pointer;
}
.template-lockdown ul.ui-autocomplete li {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 13px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#lockdowns-list td {
  vertical-align: top;
  padding-top: 10px;
  line-height: 0;
}

#lockdowns-list td.tag {
  font-size: 0;
}
.lockdown-actions {
  width: 194px;
}
.lockdown-actions .btn {
  padding: 7px 15px;
  margin-bottom: 4px;
  vertical-align: top;
}

.tag > span {
  text-overflow: ellipsis;
  vertical-align: top;
}
.tag.green-tag > span.active {
  background: #b5ea9f;
  border-color: #99d899;
}
.tag.green-tag > span.active .close,
.tag.green-tag > span.active .add-or {
  border-color: #99d899;
}
.tag > span.yellow-tag {
  background-color: #fff7b2;
  border-color: khaki;
  color: #4d4d4d;
}
.tag > span.red-tag {
  background-color:#ff9797;
  border-color: coral;
  color: #4d4d4d;
}
.tag .close, .tag .back {
  background: none;
  text-align: center;
  text-indent: 0;
}
.tag .close::before,
.tag .back::before {
  content: "\f00d";
  margin-left: -1px;
  font: normal normal normal 11px/25px FontAwesome;
}

#lockdown-customers-quicklinks > span {
  padding: 3px 7px;
  user-select: initial;
}
#lockdown-customers-quicklinks > span a {
  font-weight: bold;
}

#no-lockdown {
  display: none;
}
#installation-holder > hr {
  margin: 20px -20px;
}

.lockdown-status i.fa {
  font-size: 18px;
  line-height: 28px;
  cursor: pointer;
  vertical-align: top;
  color: #d9d9d9
}
.lockdown-status i.fa-toggle-on {
  color: #90d246;
}

#lockdowns-list-empty {
  display: none;
}
#lockdowns-list-empty .ui-empty-state__subsection {
  padding: 0;
}
#lockdowns-list-empty .btn-large {
  margin: 0;
}

.lockdown-edit-text {
  display: inline-block;
}
.lockdown-edit-icon {
  display: none;
}

.and-info-holder {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  font-size: 16px;
}
.and-info-holder i {
  color: #479ccf;
  cursor: help;
}

.tooltip-holder {
  display: none;
  position: relative;
  padding: 3px 8px;
  margin-left: 6px;
  background-color: rgba( 0, 0, 0, .7);
  border-radius: 7px;
  color: white;
  line-height: 14px;
  font-size: 10.5px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  box-sizing: border-box;
  cursor: default;
}
.tooltip-pointer {
  position: absolute;
  top: 50%;
  left: -6px;
  margin-top: -6px;
  border: 6px solid transparent;
  border-right-color: rgba( 0, 0, 0, .7);
  border-left-width: 0;
}

@media only screen and (max-width: 640px) {
  .lockdown-actions {
    width: 80px;
  }
  .lockdown-edit-text {
    display: none;
  }
  .lockdown-edit-icon {
    display: inline-block;
  }
}


.visual-settings-holder + .visual-settings-holder {
  padding-top: 20px;
  border-top: 1px solid #d3dbe2;
}
.visual-setting {
  display: inline-block;
  vertical-align: top;
  width: 164px;
  margin-right: 20px;
  text-align: center;
}
.visual-setting input[type=radio],
.visual-setting input[type=checkbox] {
  display: none;
}

.visual-setting-icon {
  display: block;
  clear: both;
  width: 160px;
  height: 60px;
  padding: 8px 10px;
  background: #f5f6f8;
  border: 2px solid transparent;
  cursor: pointer;
}
.visual-setting-text {
  display: block;
  padding: 6px 0 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.visual-setting input:checked + label {
  /*color: #8ac383;*/
  color: #50b83c;
}
.visual-setting input:checked + label .visual-setting-icon {
  border: 2px solid #50b83c;
}
.exceptions-type-container .visual-setting input:checked + label {
  color: #bf0711;
}
.exceptions-type-container .visual-setting input:checked + label .visual-setting-icon {
  border-color: #bf0711;
}

.add-and:hover + .tooltip-holder,
.add-or:hover + .tooltip-holder {
  display: inline-block;
}

.ic-access-can {
  background: #f5f6f8 url("../images/ic-access-may.svg") center center no-repeat;
}
.ic-access-cannot {
  background: #f5f6f8 url("../images/ic-access-cannot.svg") center center no-repeat;
}
.ic-access-logged-in {
  background: #f5f6f8 url("../images/ic-access-all.svg") center center no-repeat;
}
.ic-access-selected {
  background: #f5f6f8 url("../images/ic-access-selected.svg") center center no-repeat;
}
.ic-access-location {
  background: #f5f6f8 url("../images/ic-access-location.svg") center center no-repeat;
}
.ic-access-authorized {
  background: #f5f6f8 url("../images/ic-access-password.svg") center center no-repeat;
}

.ic-content-website {
  background: #f5f6f8 url("../images/ic-content-website.svg") center center no-repeat;
}
.ic-content-pages,
.ic-exceptions-pages {
  background: #f5f6f8 url("../images/ic-content-pages.svg") center center no-repeat;
}
.ic-content-collections,
.ic-exceptions-collections {
  background: #f5f6f8 url("../images/ic-content-collections.svg") center center no-repeat;
}
.ic-content-products,
.ic-exceptions-products {
  background: #f5f6f8 url("../images/ic-content-products.svg") center center no-repeat;
}
.ic-content-blogs,
.ic-exceptions-blogs {
  background: #f5f6f8 url("../images/ic-content-blog.svg") center center no-repeat;
}
.ic-content-prices {
  background: #f5f6f8 url("../images/ic-content-prices.svg") center center no-repeat;
}
.ic-content-view-only {
  background: #f5f6f8 url("../images/ic-content-purchase.svg") center center no-repeat;
}
.ic-redirect-login {
  background: #f5f6f8 url("../images/ic-redirect-login.svg") center center no-repeat;
}
.ic-redirect-page {
  background: #f5f6f8 url("../images/ic-redirect-page.svg") center center no-repeat;
}
.ic-redirect-url {
  background: #f5f6f8 url("../images/ic-redirect-url.svg") center center no-repeat;
}


.customers-settings-list > div {
  margin-top: 10px;
}
.customers-filter-group-holder + .customers-filter-group-holder,
.customers-type-secondary[data-rel=authorized],
.redirect-type-secondary,
#hide-price-page-holder,
#hide-price-text-holder {
  padding-top: 20px;
  border-top: 1px solid #d3dbe2;
}
.customers-filter-data-holder,
.customers-location-data-holder,
.content-data-holder,
.exceptions-data-holder {
  margin-bottom: 10px;
}
.customers-filter-group-holder,
.customers-location-data-holder:last-child,
.content-data-holder:last-child,
.exceptions-data-holder:last-child {
  margin-bottom: 20px;
}
.customers-location-data-holder {
  margin-bottom: 10px;
}
.filter-form > div,
.customers-location-data-holder > div,
.content-data-holder > div,
.exceptions-data-holder > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

#lockdown-customers-quicklinks-holder,
#supporting-section {
  display: none;
}

.customers-location-data-holder,
.content-type-container,
.exceptions-type-container {
  position: relative;
}
.lockdown-content-container-remove-holder,
.lockdown-exceptions-container-remove-holder {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.lockdown-exceptions-container-remove-holder {
  display: block;
}

.lockdown-customers-remove-holder,
.lockdown-customers-locations-remove-holder,
.lockdown-content-remove-holder,
.lockdown-exceptions-remove-holder {
  margin: 8px 0;
  line-height: 0;
}

.lockdown-customers-locations-remove-holder svg:hover,
.lockdown-customers-remove-holder svg:hover,
.lockdown-content-container-remove-holder svg:hover,
.lockdown-content-remove-holder svg:hover,
.lockdown-exceptions-container-remove-holder svg:hover,
.lockdown-exceptions-remove-holder svg:hover {
  cursor: pointer;
}
.lockdown-customers-locations-remove-holder svg:hover g,
.lockdown-customers-remove-holder svg:hover g,
.lockdown-content-container-remove-holder svg:hover g,
.lockdown-content-remove-holder svg:hover g,
.lockdown-exceptions-container-remove-holder svg:hover g,
.lockdown-exceptions-remove-holder svg:hover g {
  fill: red;
}

.customers-type-secondary,
.content-type-secondary,
.content-type-tertiary,
.exceptions-type-secondary,
.exceptions-type-tertiary,
.redirect-type-secondary {
  display: none;
}
.content-type-tertiary[data-rel=pages],
.content-type-tertiary[data-rel=collections],
.content-type-tertiary[data-rel=collection_products],
.content-type-tertiary[data-rel=product_view_onlys],
.exceptions-type-tertiary[data-rel=pages],
.exceptions-type-tertiary[data-rel=collections],
.exceptions-type-tertiary[data-rel=collection_products] {
  margin-top: 20px;
}

.content-products-list .lockdown-content-data-holder,
.exceptions-products-list .lockdown-exceptions-data-holder {
  width: 50%;
}

#add-content-container-holder,
#add-exceptions-container-holder,
#show-additional-setting-holder {
  background: transparent;
  color: #5b6b79;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

#add-content-container-holder:hover,
#add-exceptions-container-holder:hover
#show-additional-setting-holder:hover {
  background: white;
}

#hide-price-page-holder {
  display: none;
  margin: 20px 0 0;
}

.master-step-holder,
#supporting-section {
  display: none !important;
}

.banner-info-holder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  background-color: #f4f6f8;
  border-radius: 0 0 3px 3px;
  box-shadow: inset 0 3px 0 0 #637381, inset 0 0 0 0 transparent, 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
  -webkit-transition: box-shadow .2s cubic-bezier(.64,0,.35,1);
  transition: box-shadow .2s cubic-bezier(.64,0,.35,1);
}
.banner-info {
  margin-top: 4px;
}

.checkbox-hover {
  display: block;
  height: 16px;
  width: 16px;
  border: 1px solid #5c6ac4;
  border-radius: 3px;
  color: #5c6ac4;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  background: white;
  margin-top: 1px;
}

input[type=checkbox]:focus + i.checkbox-hover {
  box-shadow: 0 0 0 1px #5c6ac4, 0 0 0 0 transparent;
}
input[type=checkbox]:checked + i.checkbox-hover:before {
  content: "\f00c";
}

.geolite2-notice {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
  background: #dfe4e8;
  color: #aaa;
}
.geolite2-notice a {
  color: #aaa !important;
  text-decoration: underline;
}