body {
  background: none;
}

input[type=checkbox],
input[type=radio] {
  float: left;
  margin-top: 2px;
  margin-right: 8px;
}

select {
  background: white;
  border: 1px solid #d3dbe2;
}
select[multiple] {
  height: 74px;
}

:focus {
  outline: none;
};

.btn-default, .btn {
  max-width: 100%;
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
}

.next-card {
  margin-top: 0 !important;
}

.easy-disabled {
  position: relative;
}
.easy-disabled:after {
  content: '';
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  cursor: wait !important;
}

#editor-sidebar-header > .next-pane__header {
  height: auto;
}
#editor-sidebar-header > .next-pane__header section {
  margin: 0 auto;
  text-align: center;
}
#editor-sidebar-header > .next-pane__header section p {
  margin: 10px 0;
}

#editor-sidebar-form-container select {
  width: 100%;
}
.stat--red {
  color: red;
}
.loader .next-spinner > .next-icon--20 {
  width: 20px;
  height: 20px;
}

* + header.next-pane__header {
  margin-top: 20px;
}

.lightbox {
  display: none;
}

#field-edit-error,
#form-edit-error {
  display: none;
  padding: 0 0 10px;
}

#editor-sidebar-form-loader {
  display: none;
  margin: 20px auto;
}

#easyorder-tabs {
  position: relative;
  box-shadow: none;
}

.featherlight-content .grid__item {
  overflow: hidden;
  word-wrap: break-word;
}
.featherlight .featherlight-content {
  max-width: 90%;
}


.fields-holder {
  text-align: left;
}
.field-preview {
  margin-top: 1px;
  margin-right: 90px;
}

.field-form-info-holder {
  position: relative;
  top: -12px;
  right: -12px;
  margin: 0;
}
.field-form-tooltip-holder {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0.8;
}
.field-form-tooltip-holder i.fa {
  font-size: 16px;
  line-height: 14px;
  vertical-align: top;
}

.option-edit-row {
  overflow: hidden;
  height: 29px;
  margin-right: 40px;
}

#fields-container .next-pane__header {
  position: relative;
}
#easyorder-tabs-loader {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  margin: -10px 0 0;
  line-height: 0;
}

.field-preview label {
  overflow: hidden;
  height: 18px;
  padding-right: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.field-preview label.required:after {
  content: ' *';
}
.field-preview input[type=text],
.field-preview input[type=email],
.field-preview textarea,
.field-preview select {
  margin: 0;
}

#field_setting_new_option,
#field_setting_edit_option {
  overflow: hidden;
}
#field_setting_options {
  table-layout: fixed;
  padding-bottom: 15px;
}
#field_setting_options th:first-child {
  width: 50%;
  padding-left: 0;
}
#field_setting_options th + th + th {
  width: 80px;
}
#field_setting_options td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#field_setting_options td:first-child {
  padding-left: 0;
}
#field_setting_options td + td + td {
  padding-right: 0;
}

#main-menu-hidden-holder {
  display: none;
}

#relating-options-container {
  display: none;
  margin-top: 15px;
}
.relating-options-list {
  display: none;
}

#options-container {
  margin-bottom: 20px;
}
#options-container .grid__item {
  overflow: hidden;
  min-height: 1px;
  padding: 0 5px;
  line-height: 29px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#options-container .grid__item:first-child {
  padding-left: 0;
}
#edit-option-holder {
  display: none;
}

.preview-checkbox-holder,
.preview-radio-holder {
  height: 20px;
}

.elements-holder {
  overflow: hidden;
  clear: both;
  margin-bottom: 15px;
}
.elements-holder:last-of-type {
  margin-bottom: 0;
}

.elements-holder input,
.elements-holder textarea,
.elements-holder select,
.elements-holder p {
  margin-bottom: 0;
}

.hidden-title {
  opacity: 0.15;
}

#install-text {
  display: none;
}
.easyorder-disabled #main-text {
  display: none;
}
.easyorder-disabled #install-text {
  display: block;
  position: relative;
  z-index: 1;
  padding-right: 50px;
}
.easyorder-disabled #install-text #easyorder-tabs-loader {
  display: block !important;
}


.delete-field,
.delete-option,
.edit-field,
.edit-option,
.info-field,
.check-option {
  position: absolute;
  border: none;
  background: none;
}

#fields-container ol {
  margin: 0;
  padding: 0;
}
#fields-container ol > li {
  position: relative;
  min-height: 28px;
  padding: 10px 10px 20px;
  background: white;
  border-bottom: 1px solid #ebeef0;
  list-style-type: none;
}
#fields-container ol > li:first-child,
#fields-container ol > li.ui-sortable-helper {
  border-top: 1px solid #ebeef0;
}
#fields-container ol > li.editing {
  background-color: rgba(173, 255, 47, 0.4);
  border-color: cadetblue;
  border-width: 1px 0px;
  border-style: dashed;
}

#fields-container ol .heading-row,
#fields-container ol .checkbox-row,
#fields-container ol .radio-row {
  padding-bottom: 10px;
}

#fields-container ol .field-actions {
  position: absolute;
  top: 50%;
  bottom: auto;
  right: 10px;
  width: 90px;
  margin-top: -9px;
}

#fields-container ol .email-row .field-actions,
#fields-container ol .select-row .field-actions,
#fields-container ol .text-row .field-actions {
  top: 39px;
  margin: 0;
}

.field-actions > button {
  top: 0;
  margin: 0;
  padding: 0;
}
.field-actions > button.info-field {
  left: 8px;
}
.field-actions > button.edit-field {
  left: 27px;
}
.field-actions > button.delete-field {
  left: 48px;
}

.field-actions > button i {
  display: block;
  line-height: 17px;
  font-size: 17px;
  font-weight: normal;
  color: #333;
}
.field-actions > button.edit-field i {
  font-size: 15px;
}

.field-actions > i.fa-arrows {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 18px;
  line-height: 18px;
  cursor: move;
}
#fields-container ol > li.editing .field-actions > i.fa-arrows {
  color: #aaa;
}

#options-holder {
  padding: 0;
  margin: 0;
}
#options-holder > li {
  position: relative;
  min-height: 24px;
  padding: 3px;
  border-bottom: 1px solid #ebeef0;
  list-style-type: none;
}
#options-holder > li:first-child,
#options-holder > li.ui-sortable-helper {
  border-top: 1px solid #ebeef0;
}

#options-holder > li .option-title {
  margin-right: 82px;
  line-height: 24px;
  text-overflow: ellipsis;
}
#options-holder > li .option-actions {
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 3px;
  width: 90px;
  font-size: 16px
}
.option-actions > button {
  top: 2px;
}
.option-actions > button.check-option {
  left: 4px;
  color: #ccc;
}
.option-actions > button.edit-option {
  left: 24px;
}
.option-actions > button.delete-option {
  left: 44px;
}
#options-holder .row-checked .option-actions > button.check-option {
  color: #55dc73;
}

.option-actions > i.fa-arrows {
  position: absolute;
  top: 5px;
  right: 0;
  color: #ccc;
}

#edit-option-holder button,
#create-option-holder button {
  padding: 6px 6px 7px;
  vertical-align: top;
}
#edit-option-holder table,
#create-option {
  width: 100%;
  table-layout: fixed;
}
#edit-option-holder table td {
  padding: 6px 0;
  border: none;
}
#create-option td {
  padding: 0 0 6px;
  border: none;
}
#edit-option-holder .edit-option-actions {
  width: 120px;
}
#create-option-holder .new-option-actions {
  width: 45px;
}

#instructions-container > hr {
  margin: 20px -20px;
}