input[type=checkbox],
input[type=radio] {
  float: left;
  margin-top: 2px;
  margin-right: 8px;
}

.float-right {
  overflow: hidden;
  float: right;
}

.radio-row label {
  float: left;
}
.radio-row label + input[type=radio],
.radio-row label + input[type=checkbox] {
  margin-left: 16px;
}

.easy-disabled {
  position: relative;
}
.easy-disabled:after {
  content: '';
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  cursor: wait !important;
}

body > .wrapper {
  margin-bottom: 50px;
}

#orders-list-holder {
  font-size: 13px !important;
}
#main-header {
  table-layout: fixed;
  margin-bottom: 10px;
}
#main-header th {
  padding: 0 8px;
  border: none;
}
.main-header-orders-per-page {
  width: 130px;
}
.main-header-orders-per-page p.note {
  line-height: 28px;
}
#orders-per-page-form select {
  display: inline-block;
}
.main-header-paid-filter {
  width: 190px;
}
.main-header-paid-filter label {
  margin-bottom: 0;
}
.main-header-imported-filter {
  width: 220px;
}
.main-header-imported-filter label {
  margin-bottom: 0;
}
#main-header p.note {
  margin: 0;
}
.main-header-import {
  width: 218px;
}

.order-date-col {
  width: 164px;
  cursor: pointer;
}
.order-date-col:hover .order-date-text {
  color: #5c6ac4;
}
.order-date-arrow {
  font: normal normal normal 14px/1 FontAwesome;
}
.order-date-arrow:before {
  content: "\f0d7";
  margin-left: 2px;
}
input#orders-sort:checked + .order-date-arrow:before {
  content: "\f0d8";
}

.order-notification-col > div {
  min-width: 40px;
}
.order-notification-col label {
  display: inline;
  font-weight: normal;
  cursor: pointer;
}

#main-header th.order-notification-col {
  width: 166px;
}
.mobile-header {
  display: none;
}


@media screen and (max-width: 950px) {
  #main-header th {
    display: block;
    max-width: 100%;
    margin: 0 0 8px;
  }
  .main-header-import,
  .main-header-paid-filter,
  .main-header-imported-filter {
    width: auto;
  }
  .main-header-paid-filter label,
  .main-header-imported-filter label,
  .main-header-import .btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main-header-import .btn {
    max-width: 220px;
  }
  .order-date-col {
    width: 110px;
  }
  .order-notification-col {
    width: 40px;
  }
  .order-carriers-col select,
  .order-item-carriers select {
    max-width: 60px;
  }
}

@media screen and (max-width: 640px) {
  #orders-list-container > .next-card {
    padding-left: 0;
    padding-right: 0;
  }
  #orders-list-container #main-header {
    padding: 0 10px;
  }

  #orders-list-holder > thead {
    display: none;
  }
  #orders-list-holder tr {
    display: block;
    border-top: 20px solid #eee;
    font-size: 0;
  }
  #orders-list-holder td {
    display: block;
    overflow: hidden;
    font-size: 13px;
  }

  .mobile-header {
    display: inline-block;
    width: 68px;
    font-weight: bold;
    white-space: nowrap;
  }
  .mobile-header label {
    margin: 0;
    font-weight: normal;
  }
  .order-item-notify .mobile-header {
    width: auto;
  }

  #orders-list-holder td.order-item-carriers,
  #orders-list-holder td.order-item-codes {
    display: inline-block;
    padding-bottom: 20px;
  }
  #orders-list-holder td.order-item-carriers {
    width: 40%;
  }
  #orders-list-holder td.order-item-codes {
    width: 60%;
  }
  .order-item-carriers .mobile-header,
  .order-item-codes .mobile-header {
    width: auto;
  }
  .order-item-codes select {
    width: auto !important;
    max-width: 100%;
  }
  .order-carriers-col select,
  .order-item-carriers select {
    width: auto !important;
    max-width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  #carrier-edit-container {
    padding: 0;
  }
}

.order-item-carriers select {
  display: block;
  clear: both;
  width: auto;
  margin: 0;
}
.order-item-carriers select + select {
  margin-top: 6px;
}
.order-item-codes input {
  width: 100%;
  min-width: 50px;
  margin: 0;
}
.order-item-codes .codes-holder {
  position: relative;
  padding-right: 20px;
}
.order-item-codes .codes-holder + .codes-holder {
  margin-top: 6px;
}
.add-code, .remove-code {
  position: absolute;
  top: 0.5em;
  right: 0;
}

#orders-errors-holder,
#orders-main-holder {
  padding: 1px;
}
#no-orders {
  display: none;
  padding: 10px;
  text-align: center;
}


.carrier-item-status {
  display: inline-block;
  vertical-align: top;
  border: 12px solid transparent;
  line-height: 10px;
  font-style: italic;
  cursor: pointer;
  text-decoration: underline;
}
.carrier-item-status i {
  font-size: 18px;
  line-height: 12px;
  vertical-align: top;
}
.carrier-item-status i.fa-toggle-on {
  color: #90d246;
}
.carrier-item-status i.fa-toggle-off {
  color: #d9d9d9;
}
.carrier-item-status i.fa-gears {
  color: #d9d9d9;
}

td.carrier-item-actions a.btn {
  display: inline-block;
  margin: 2px 0;
  vertical-align: top;
}

#carrier-edit-container {
  display: none;
}
#carrier-edit-error {
  display: none;
}
#carrier-edit-loader {
  margin: 20px auto;
}

#carriers-holder {
  margin: 0;
  padding: 0;
}
#carriers-holder > li {
  position: relative;
  min-height: 28px;
  padding: 6px 0;
  background: white;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #ebeef0;
  list-style-type: none;
}
#carriers-holder > li.ui-sortable-helper {
  border-width: 1px 0;
}

#carriers-header {
  position: relative;
  z-index: 50;
}
#carriers-header,
#carriers-holder table {
  table-layout: fixed;
}
#carriers-holder td {
  padding: 0 10px;
  border: none;
  text-align: left;
}
.carriers-header-cell-status,
.carrier-item-cell-status {
  width: 70px;
}
.carriers-header-cell-actions,
.carrier-item-cell-actions {
  width: 128px;
}

@media screen and (max-width: 700px) {
  .medium--one-half #carriers-holder .carrier-item-cell-name {
    word-wrap: break-word;
  }
  .medium--one-half #carriers-holder .carriers-header-cell-actions,
  .medium--one-half #carriers-holder .carrier-item-cell-actions {
    width: 80px;
    text-align: right;
  }
  .medium--one-half #carriers-holder .carrier-item-cell-actions .main-delete-carrier {
    margin-top: 5px;
  }
}
@media screen and (max-width: 520px) {
  .carriers-header-cell-status,
  .carrier-item-cell-status {
    width: 52px;
  }
}

.no-carrier-notice {
  text-align: center;
}
#no-carriers .btn-large {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.pagination-links-holder {
  display: flex;
  padding: 20px 20px 0;
}
.pagination-links a {
  width: 47px;
  text-align: center;
}
.pagination-links i.fa {
  line-height: 16px;
  font-size: 22px;
  font-weight: bold;
}

#upload-popup-container {
  display: none;
}
.ep_featherlight .upload-popup {
  padding-bottom: 25px;
}
.upload-form-holder {
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}
.upload-form-holder form {
  float: right;
}

.upload-form-holder input {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

table.csv-example {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
table.csv-example td {
  border: 1px solid #ccc;
}
